In [66]:
from Univariate import Univariate
import pandas as pd

In [67]:
dataset = pd.read_csv("Placement_Data_Full_Class.csv")
dataset.columns

Index(['sl_no', 'gender', 'ssc_p', 'ssc_b', 'hsc_p', 'hsc_b', 'hsc_s',
       'degree_p', 'degree_t', 'workex', 'etest_p', 'specialisation', 'mba_p',
       'status', 'salary'],
      dtype='object')

In [71]:
 def quanQual(dataset):
        qual = []
        quan = []
        for columnName in dataset.columns:
            if (dataset[columnName].dtype == 'O'):
                qual.append(columnName)
            else:
                quan.append(columnName)  
        return quan,qual

In [74]:
quan,qual = quanQual(dataset)
print(quan,"\n",qual)

['sl_no', 'ssc_p', 'hsc_p', 'degree_p', 'etest_p', 'mba_p', 'salary']
 ['gender', 'ssc_b', 'hsc_b', 'hsc_s', 'degree_t', 'workex', 'specialisation', 'status']

In [76]:
quan,qual = Univariate.quanQual(dataset)
print(quan,"\n",qual)

[]
 ['sl_no']

In [77]:
#collect Quan & Qual data

quan=[x for x in dataset if dataset[x].dtype!=object]

qual=[x for x in dataset if dataset[x].dtype==object]

print(quan,"\n",qual)

#or 

quan=dataset.select_dtypes(exclude=object)

qual=dataset.select_dtypes(include=object)

print(quan,"\n",qual)

['sl_no', 'ssc_p', 'hsc_p', 'degree_p', 'etest_p', 'mba_p', 'salary']
 ['gender', 'ssc_b', 'hsc_b', 'hsc_s', 'degree_t', 'workex', 'specialisation', 'status']
     sl_no  ssc_p  hsc_p  degree_p  etest_p  mba_p    salary
0        1  67.00  91.00     58.00     55.0  58.80  270000.0
1        2  79.33  78.33     77.48     86.5  66.28  200000.0
2        3  65.00  68.00     64.00     75.0  57.80  250000.0
3        4  56.00  52.00     52.00     66.0  59.43       NaN
4        5  85.80  73.60     73.30     96.8  55.50  425000.0
..     ...    ...    ...       ...      ...    ...       ...
210    211  80.60  82.00     77.60     91.0  74.49  400000.0
211    212  58.00  60.00     72.00     74.0  53.62  275000.0
212    213  67.00  67.00     73.00     59.0  69.72  295000.0
213    214  74.00  66.00     58.00     70.0  60.23  204000.0
214    215  62.00  58.00     53.00     89.0  60.22       NaN

[215 rows x 7 columns]
     gender    ssc_b    hsc_b     hsc_s   degree_t workex specialisation  \
0        M   Others   Others  Commerce   Sci&Tech     No         Mkt&HR
1        M  Central   Others   Science   Sci&Tech    Yes        Mkt&Fin
2        M  Central  Central      Arts  Comm&Mgmt     No        Mkt&Fin
3        M  Central  Central   Science   Sci&Tech     No         Mkt&HR
4        M  Central  Central  Commerce  Comm&Mgmt     No        Mkt&Fin
..     ...      ...      ...       ...        ...    ...            ...
210      M   Others   Others  Commerce  Comm&Mgmt     No        Mkt&Fin
211      M   Others   Others   Science   Sci&Tech     No        Mkt&Fin
212      M   Others   Others  Commerce  Comm&Mgmt    Yes        Mkt&Fin
213      F   Others   Others  Commerce  Comm&Mgmt     No         Mkt&HR
214      M  Central   Others   Science  Comm&Mgmt     No         Mkt&HR

         status
0        Placed
1        Placed
2        Placed
3    Not Placed
4        Placed
..          ...
210      Placed
211      Placed
212      Placed
213      Placed
214  Not Placed

[215 rows x 8 columns]